Repository dear-digital/shopify-theme-skeleton, changes with the labels that .github/labeler.yml gives for each.
All labels: theme, assets, locales, config, styles, scripts, liquid, documentation, ci, package, ignore-files, templates, customers, sections, snippets, icons, extras, python, json

Update .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci

Remove Unneccesory JS
  assets/cart-drawer.js
  sections/cart-drawer.liquid
Labels: theme, assets, scripts, liquid, sections

Remove unnecessory JS and PDP update
  assets/cart-drawer.js
  config/settings_data.json
  sections/cart-drawer.liquid
  sections/dev__main-product.liquid
Labels: theme, assets, config, scripts, liquid, sections, json

Changed JS file name
  assets/cart-drawer.js
  assets/cart.js
  assets/global.js
  layout/theme.liquid
  sections/cart-drawer.liquid
  sections/navbar.liquid
Labels: theme, assets, scripts, liquid, sections

Remove unused CSS classes in product recommendation section
  assets/output.css
  sections/collection.liquid
  sections/dev__footer.liquid
  sections/dev__main-product.liquid
  sections/footer-group.json
  templates/collection.json
  templates/product.json
Labels: theme, assets, styles, liquid, templates, sections, json

Automated Tailwind CSS build
  assets/output.css
Labels: assets, styles

Remove unused CSS classes in product recommendation section
  sections/dev__main-product.liquid
  templates/product.json
Labels: theme, liquid, templates, sections, json

Revert " Remove unused CSS classes in product recommendation section"
  sections/dev__main-product.liquid
  templates/product.json
Labels: theme, liquid, templates, sections, json

Revert "Remove unused CSS classes in product recommendation section"
  assets/output.css
  sections/collection.liquid
  sections/dev__footer.liquid
  sections/dev__main-product.liquid
  sections/footer-group.json
  templates/collection.json
  templates/product.json
Labels: theme, assets, styles, liquid, templates, sections, json

Automated Tailwind CSS build
  assets/output.css
Labels: assets, styles

Cart-Drawer Functionality (#360)
  assets/cart-drawer.js
  assets/cart.js
  assets/global.js
  config/settings_data.json
  layout/theme.liquid
  locales/en.default.json
  sections/cart-drawer.liquid
  sections/cart.liquid
  sections/dev__featured_product.liquid
  sections/dev__main-product.liquid
  sections/navbar.liquid
Labels: theme, assets, locales, config, scripts, liquid, sections, json

refactor: Update footer-group.json styles for responsiveness (#363)
  sections/dev__footer.liquid
  sections/footer-group.json
Labels: theme, liquid, sections, json

Automated Tailwind CSS build
  assets/output.css
Labels: assets, styles

Update Service Section Responsiveness for Large Screens and Rename Section Overlay (#364)
  assets/output.css
  sections/image-text-button-overlay.liquid
  sections/parallax-overlay.liquid
  sections/service.liquid
  templates/index.json
Labels: theme, assets, styles, liquid, templates, sections, json

Automated Tailwind CSS build
  assets/output.css
Labels: assets, styles

Enhanced Collection section for No Products in Collection UI (#365)
  sections/collection.liquid
  templates/collection.json
Labels: theme, liquid, templates, sections, json

Automated Tailwind CSS build
  assets/output.css
Labels: assets, styles

Merge about-us and why-choose-us to common section -> two-column-layout (#366)
  sections/about-us.liquid
  sections/dev__why-choose-us.liquid
  sections/footer-group.json
  sections/two-column-layout.liquid
  templates/index.json
  templates/page.subscription-page.json
Labels: theme, liquid, templates, sections, json

Automated Tailwind CSS build
  assets/output.css
Labels: assets, styles

Image Optimization on Load for Hero Image (#367)
  sections/hero.liquid
  templates/index.json
Labels: theme, liquid, templates, sections, json

.github/labeler.yml:

theme:
  - changed-files:
    - any-glob-to-any-file:
      - "layout/**/*"
      - "templates/**/*"
      - "sections/**/*"
      - "snippets/**/*"

assets:
  - changed-files:
    - any-glob-to-any-file: "assets/**/*"

locales:
  - changed-files:
    - any-glob-to-any-file: "locales/**/*"

config:
  - changed-files:
    - any-glob-to-any-file: 
      - "config/**/*"
      - "config/settings_data.json"
      - "config/settings_schema.json"

styles:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.css"
      - "src/tailwind.css"
      - "tailwind.config.js"

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.js"
      - "assets/global.js"

liquid:
  - changed-files:
    - any-glob-to-any-file: "**/*.liquid"

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "LICENSE"
      - "README.md"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - "SECURITY.md"
      - "release-notes.md"
      - "rewards.md"
      - "documentation/**/*"

ci:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

package:
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "package-lock.json"

ignore-files:
  - changed-files:
    - any-glob-to-any-file:
      - ".gitignore"
      - ".shopifyignore"

templates:
  - changed-files:
    - any-glob-to-any-file: "templates/**/*.json"

customers:
  - changed-files:
    - any-glob-to-any-file: "templates/customers/**/*"

sections:
  - changed-files:
    - any-glob-to-any-file: "sections/**/*"

snippets:
  - changed-files:
    - any-glob-to-any-file: "snippets/**/*"

icons:
  - changed-files:
    - any-glob-to-any-file: "snippets/icon-*.liquid"

extras:
  - changed-files:
    - any-glob-to-any-file: "extras/**/*"

python:
  - changed-files:
    - any-glob-to-any-file: "**/*.py"

json:
  - changed-files:
    - any-glob-to-any-file: "**/*.json"
